body {
  background-color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

table,
td,
th {
  border-color: blue;
  padding: 4px;
  border-right: white;
  border-width: 2px;
  border-style: solid;
  border-left-color: cornflowerblue;
  border-top-color: cornflowerblue;
  border-bottom-color: cornflowerblue;
  background-color: cornflowerblue;
  color: white;
}

inout {
  font-family: inherit;
  padding: 0.625rem;
  border: 1px solid gray;
  border-radius: 2px;
}
input [type="submit"],
input [type="reset"] {
  border: none;
  background-color: rgb(0, 0, 109);
  color: white;
  padding: 10px;
  border-radius: 2px;
  margin-top: 20 px;
}
